:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --yarl__container_background_color: #243b42;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #476464;
  color: #d7dbcc;
  min-height: 100vh;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}
